<div class="HomeView">
		<div class="card tall">
			<header>Tall Card</header>
			<section class="content">
				some long content some long content some long content some long content some long content some long content 
			</section>
		</div>
		<div class="card wide">
			<header>Wide Card</header>
			<section class="content">
				some long content some long content some long content some long content some long content some long content 
			</section>
		</div>
		<div class="card">
			<header>Base Card</header>
			<section class="content">
				some long content some long content some long content some long content some long content some long content 
			</section>
		</div>
</div>