<div class="LoginView login-mode">
	<div class="dialog">
		<header class="for-login">Login</header>
		<header class="for-register">Register</header>
		<section class="content">
			<div class="field">
				<label>Username</label>
				<input name="username" type="text" />
			</div>
			<div class="field">
					<label>Password</label>
					<input name='pwd' type="password" />
			</div>
			<div class="field for-register">
					<label>Repeat Password</label>
					<input name='repeat-pwd' type="password" />
			</div>
			<h5>OR</h5>
			<a class="button high to-github"
				href="https://github.com/login/oauth/authorize?client_id=d4731366d9ef5840db33&scope=repo%20user:email">GITHUB</a>
		</section>
		<footer>
			<div class="message"></div>
			<button class="to-register for-login low">Register</button> 
			<button class="medium for-login do-login">Login</button> 

			<button class="to-login for-register low">Login</button> 
			<button class="medium for-register do-register">Register</button> 			
		</footer>
	</div>
</div>