<script id="NavView" type="text/html">
<div class="NavView">

	<a class='sel' href="#home">Home</a>
	<a href="#demo">UI Components</a>
	<section>
		<header><h3>Projects</h3><small class="show-add-project-dialog">add</small></header>
		<ul>
		</ul>
	</section>
</div>
</script>

<script id="NavView-project-item" type="text/html">
<a href="#project/{{id}}" data-entity="Project" data-entity-id="{{id}}">{{name}}</a>
</script>