<div class="DemoCardsView">


		<div class="card">
			<header><h5>Base Card</h5></header>
			<section>
				some long content some long content some long content some long content some long content some long content 
			</section>
		</div>
		
		<div class="card">
			<header>
				<h5>Card With</h5>
				<h6>subtitle and footer</h6>
			</header>
			<section>
				some long content some long content some long content some long content some long content some long content 
			</section>
			<footer class="split-2"r>
				<div>
					<button>button</button>
				</div>
				<div>
					<i>{{{symbol "ico-business"}}}</i>
					<i>{{{symbol "ico-share"}}}</i>
				</div>
			</footer>
		</div>	

		<div class="card wide">
			<header><h5>Card With Aside</h5>
				<aside>{{{ico 'ico-more'}}}</aside>
			</header>
			<section>
				some long content some long content some long content some long content some long content some long content 
			</section>
		</div>		

		<div class="card tall wide">
			<header><h5>Card with some long content</h5></header>
			<section>
			some long content some long content some long content some long content some long content some long content 
			</section>
			<footer>Some footer</footer>
		</div>		

</div>