<div class="DemoMainView">
	<div class="tab-bar">
		<a href="#demo/typo">Typography</a>
		<a href="#demo/cards">Cards</a>	
		<a href="#demo/buttons">Buttons</a>
	</div>
	<section class="content">

	</section>
</div>