.DemoTypoView{
	flex: 1;
	padding: 2rem;
	display: grid;
	grid-gap: 2rem;
	/* grid-auto-flow: rows; */
	grid-template-columns: 1fr 1fr;


	.card {
		section.content{
			overflow: scroll;
			display: grid;
			padding: 4rem;
			grid-gap: 2rem;
			grid-template-rows: repeat(auto-fill, auto);
		}
	}
	

}