<div class="DemoButtonsView">
	<div class="card">
		<header>Buttons</header>
		<section>
			
			<h6>Active</h6>
			<h6>Disabled</h6>

			<!-- Default Buttons-->
			<div>
					<a class="button" href="#buttons">button</a>
			</div>
			<div>
				<a class="button disabled">button</a>
			</div>
			
			<!-- Medium Buttons-->
			<div>
				<button class="medium"><i>{{{symbol 'ico-business'}}}</i> Medium button</button>
			</div>
			<div>
				<button class="medium" disabled>Medium button</button>
			</div>

			<div>
				<button class="high">high button</button>
			</div>
			<div>
					<button class="high" disabled>high button</button>
			</div>


			<div>
				<button class="outlined"><i>{{{symbol 'ico-business'}}}</i> outlined button</button>
			</div>
			<div>
				<button class="outlined" disabled>outlined button</button>
			</div>			
				
		</section>
	</div>


</div>