@import "../pcss/mixins-all.pcss";


.ProjectTicketsView{
	display: grid;
	grid-template-columns: 30rem;
	grid-template-rows: 1fr;

	.card > section {
		display: flex;
		padding-bottom: 2rem;

		& > div.list{
			position: relative;
			flex: 1;

			& > ul{
				overflow: scroll;
				@mixin fitparent{};

				.lbl{
					font-size: .725rem;
					padding: .5em .5rem;
				}
			}

		}
	}
}