<script id="ProjectMainView" type="text/html">
<div class="ProjectMainView screen" data-entity="Project">

	<header>

	</header>

	<section class="content">
		
	</section>

</div>
</script>

<script id="ProjectMainView-header" type="text/html">
	<h1>{{name}}</h1>
	<div class="tab-bar">
		<a href="#project/{{id}}/dash">Dashboard</a>
		<a href="#project/{{id}}/tickets">Tickets</a>	
	</div>
</script>


