@import "../pcss/mixins-all.pcss";

.ProjectLabelPickerDialog{
	height: 30rem;
	& > section{
		position: relative;
		ul{
			overflow: auto;
			@mixin fitparent{};

			li{
				display: grid;
				grid-template-columns: 2rem 1fr;
				align-items: center;
				span{
					width: max-content;
				}
			}
		}
	}
}