
.field {
	height: 2.5rem;
	display: grid;
	grid-template-columns: auto 1fr;
	align-content: center;
	margin-bottom: 1rem;
	& > label {
		@mixin typo-label{};
		margin-right: 1rem;
	}

	& > input, & > textarea, & > .ctrl  { 
		@mixin typo-body1{};
	}
}