@import './mixins-all.pcss';

.screen{
	display: flex;
	flex-direction: column;
	& > header{
		background: #fff;
		padding: 3rem 0 0 0rem;

		h1{
			@mixin typo-h4{};
			padding: 0 0 0 3rem;
			margin-bottom: 2rem;
		}

		.tab-bar{
			padding-left: 3rem;
		}
	}

	& > section {
		flex: 1;
	}
}